/* FARBEN */
:root {
  --blue: #1F4E8C;
  --light-grey: #E5E5E5;
  --dark-grey: #3d3f45;
  --red: #A62C21;
}

/* === GLOBALE EINSTELLUNGEN === */

html{
  font-size:16px;
}
body{
  margin:0;
  font-family: 'Raleway', 'Lato','Helvica Neue','Arial',sans-serif;
}
*{
  box-sizing: border-box;
}


/* === GENNERELLES === */
.clearfix::after{
  content: none;
  clear: both;
  display: block;
}
:focus {
  outline: none;
  box-shadow:0 0 0 1px var(--light-grey), 0 0 6px var(--light-grey);
}
.bold{
  font-weight: bold;
}
.hide{
  display: none;
}
.btn-1{
  background-color: var(--red);
  border:none;
  border-radius: 3px;
  color: var(--light-grey);
  padding: .4rem .6rem;
}
.intro-container{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
.intro-container p{
    font-size: 1.2rem;
}
.intro-container h1{
    font-size: 1.6rem;
    text-transform: uppercase;
}

/* ==== NAV-BAR ==== */

#header-nav{
  width:100%;
  height:75px;
  background-color: var(--dark-grey);
  font-size: 25px
}
#header-nav a > img{
  height: 55px;
  width: auto;
  border: 2px solid grey;
  float: left;
  margin: 10px;
}
#header-nav ul{
  margin:0;
  padding:0;
  float:right;
  margin: 25px;
}
#header-nav ul > li{
  display: inline-block;
  padding-left:40px;
}
#header-nav ul > li > a:link{
  color:var(--light-grey);
  text-decoration:none;
}
#header-nav ul > li > a:visited{
  color:var(--light-grey);
  text-decoration:none;
}
#header-nav ul > li > a:hover{
  text-decoration:none;
  color: var(--red);
  animation:nav-hover 1s linear 1;
}
@keyframes nav-hover {
  0% {
        transform: rotate(0);
        color:var(--light-grey);
        font-size: 25px;
  }
  50% {
    font-size: 26px;
  }
  100% {
        transform: rotate(360deg);
        color:var(--red);
        font-size: 25px;
  }
}
#header-nav ul > li > a:active{
  color:var(--red);
  font-style: normal;
  text-decoration:none;
}
#header-nav .col-6{
  height: 100%;
  padding-top:0;
  padding-bottom: 0;
  background-color: var(--dark-grey);
}
#header-nav > .nav-container,#header-nav > .nav-container > .row{
  height: 100%;
}

/* === NAVIGATIONSLEISTE (MOBIL) === */
.mobile-nav-button{
  color: #FFF;
  float: right;
  font-size: 40px;
  border: 2px solid #FFF;
  border-radius: 3px;
  width:45px;
  height: 45px;
  position: relative;
  margin-top: 15px;
  margin-right: 30px;
}
.mobile-nav-button >span{
  position: absolute;
  bottom:-3px;
  left:8px;
}
.mobile-nav-dropdown{
  position:relative;
}
.mobile-nav-content{
  position: absolute;
  right: 0px;
  top: 50px;
  display: none;
}
.mobile-nav-dropdown:hover > .mobile-nav-content{
  display: block;
}
.mobile-nav-dropdown:active > .mobile-nav-content{
  display: block;
}
.mobile-nav-dropdown:focus > .mobile-nav-content{
  display: block;
}
.mobile-nav{
  display: none;
}
@media(max-width:950px){
  .desktop-nav{
    display:none;
  }
  .mobile-nav{
    display: block;
  }
}
.mobile-nav-content > ul > li{
  display:block;
  background-color: var(--dark-grey);
  padding: 0px 20px;
  height: 50px;
  font-weight: 400;
  text-align:right;
}

/* === HEADER_BANNER === */

.header-banner{
  width: 100%;
  height:0;
  padding-top: 20.83%;
  background: url("../img/hintergrund.jpg") no-repeat;
  background-size: contain;
}
.header-banner-klein{
  width: 100%;
  height:0;
  padding-top: 15.625%;
  background: url("../img/hintergrund-klein.jpg") no-repeat;
  background-size: contain;
}

/*-- === NEWSLETTER === */

.newsletter-container{
  width: 100%;
  background-color: var(--dark-grey);
  overflow: auto;
}
#nl-text{
  color: var(--light-grey);
  font-size: 32px;
}
#nl-email-input{
  width: 60%;
  height: 35px;
  border-color: var(--light-grey);
  background-color: var(--light-grey);
  color: var(--dark-grey);
  border: none;
  padding-left: 10px;
}
#nl-form{
  width: 100%;
  margin-top: 23px;
  float: right;
  text-align: right;
}
#nl-btn{
  height: 35px;
}
#nl-btn:hover{
  background-color:#d83829;
  color: white;
  opacity: 90%;
  cursor: pointer;
}
.nl-form-element{
  margin-top: 50px;
}
@media (max-width:1350px) {
  #nl-text{
    font-size: 24px;
  }
  .nl-form-element{
    margin: 0;
  }
  #nl-btn{
    width:100%
  }
  #nl-text{
    width: 100%;
  }
  #nl-email-input{
    width:100%;
    margin-top: 20px;
    margin-bottom: 3px;
  }
}
@media (max-width:768px) {
  #nl-text{
    font-size: 20px;
  }
  .nl-form-element{
    margin: 0;
  }
  #nl-form{
    width:85%;
    align-items: center;
    margin-top: 0;
  }
  #nl-email-input {
    margin-top: 0px;
    margin-bottom: 5px;
  }
  #nl-text{
    margin-bottom: 0;
  }
}

/* === LEISTUNGEN_BEREICH === */

.leistungen-articles{
  border-radius: 7px;
  background-color: var(--dark-grey);
  color: var(--light-grey);
  text-align: center;
  padding: 1rem 3rem 2.5rem;
  width: 60%;
  margin: 0 auto;
}
#leistungen-bereich .row .col-3:nth-of-type(even) > .leistungen-articles{
 margin-left: 1rem;
}
#leistungen-bereich .row .col-3:nth-of-type(odd) > .leistungen-articles{
margin-right: 1rem;
}
  
.leistungen-articles a:link{
  color: var(--light-grey);
  text-decoration: none;
}
.leistungen-articles a:visited{
  color: var(--light-grey);
}


/*

=== GRID_SYSTEM (Sichtbarkeit) ===

.border, .border *{
  border: 1px solid #91C4FF;
}
[class*=col-]{
background-color: #BFDDFF;
}

p{
  background-color:#91C4FF;
  padding: 0;
  margin: 0;
  color:#FFF;
  text-align:center;
}

*/

/* === GRID_SYSTEM === */

.container{
  width: 75%;
  margin-left:auto;
  margin-right: auto;
}

.row::after{
  content: none;
  clear: both;
  display: block;
}
[class*=col-]{
  float: left;
  min-height: 1px;
  padding: .8rem;
}
.col-1{width: 16.6666%;}
.col-2{width: 33.3333%;}
.col-4{width: 66.6666%;}
.col-3{width:50%;}
.col-6{width:100%;}

/* === WICHTIGE_BREAKPOINTS ===

480px Iphone Querformat
768px IPad Hochformat
1024px IPad Querformat

*/

@media (max-width: 1024px) {

  .container{
    width: 85%;
  }

  .col-1{width: 33.3333%;}
}
@media (max-width: 768px) {

  .container{
    width: 95%;
  }

  .col-1{width: 50%;}
  .col-2{width: 100%;}
  .col-3{width: 100%;}
}
@media (max-width: 480px) {

  .container{
    width: 100%;
  }

  .col-1{width: 100%;}
  .col-2{width: 100%;}
  .col-3{width: 100%;}
  .col-6{width: 100%;}
}
